.functional__container {
    margin-bottom: 10rem;
}

.functional__title {
    color: #F5F5F5;
    font-size: 48px;
    margin-bottom: 20px;
}

.functional__content {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.functional__list {
    margin-top: 2rem;
}

.functional__list-item {
    display: flex;
    align-items: center;
    gap: 25px;
    border-radius: 25px;
    background: #323B4C;
    padding: 25px 36px;
    margin-bottom: 30px;
}

.functional__list-text {
    color: #F5F5F5;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
}

.functional__list-number {
    padding: 24px 37px;
    font-size: 45px;
    color: #F5F5F5;
    border-radius: 25px;
    background-color: #6290E4;
    font-family: 'Roboto';
}

.number--fix {
    padding: 24px 41px;
}

.functional__image-item {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 1366px) {
    
    .functional__list-number {
        font-size: 25px;
    }
}

@media (max-width: 900px) {
    .functional__title {
        font-size: 24px;
        text-wrap: nowrap;
        text-align: center;
        margin-bottom: 20px;
    }

    .functional__content {
        flex-direction: column;
        gap: 0;
    }

    .functional__list-text {
        font-size: 14px;
    }

    .functional__image-item {
        display: none;
    }

    .functional__list-number {
        padding: 10px 20px;
        font-size: 25px;
    }

    .number--fix {
        padding: 10px 23px;
    }
}