.header__content {
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 10px;
    align-items: center;
}

.header__image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.header__image-block:hover {
    transform: scale(1.05);
}

.header__image-item {
    width: 85%;
    height: auto;
    object-fit: cover;
}

.header__image-text {
    color: #F5F5F5;
    font-size: 10px;
    line-height: 140%;
}

.header__nav {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header__nav-item {
    color: #F5F5F5;
    font-size: 14px;
    line-height: 140%;
    text-decoration: none;
}

.header__nav-item:hover {
    text-decoration: underline;
}

.header__nav-button {
    padding: 10px 24px;
    border-radius: 25px;
    background-color: #6290E4;
    border: none;
    color: #F5F5F5;
    align-items: center;
    transition: all 0.15s ease-in-out;
}

.header__nav-button:hover {
    background-color: #4f78c4;
}

@media (max-width: 900px) {

    .header__content {
        margin-top: 1rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    .header__nav-item {
        display: none;
    }

    .header__image-text {
        font-size: 5px;
        text-wrap: nowrap;
    }
}