.footer {
    background: #262626;
}

.footer__top-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 3rem 8rem;
    background: #6290e4;
    border-radius: 0 0 50px 50px;
}

.footer__text-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__title {
    font-size: 72px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #fff;
}

.footer__email {
    text-decoration: none;
    font-size: 32px;
    line-height: 125%;
    color: #fff;
    margin-bottom: 10px;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__link {
    border-radius: 25px;
    background: #e9e8f6;
    padding: 15px 40px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #6290e4;
    transition: all 0.15s ease-in-out;
}

.footer__link:hover {
    background: #d5d3f0;
    color: #5278c8;
}

.footer__arrow {
    position: absolute;
    right: -80px;
    bottom: 100px;
}

.footer__form {
    display: flex;  
    flex-direction: column;
    gap: 20px;
    max-width: 670px;
    padding: 50px 25px;
    background: #262626;
    border-radius: 50px;
}

.footer__form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 20px;
}

.footer__input,
.footer__textarea {
    padding: 17px 25px;
    background: #323b4c;
    border-radius: 20px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    transition: all 0.15s ease-in-out;
}

.footer__input::placeholder,
.footer__textarea::placeholder {
    opacity: 0.5;
    color: #f5f5f5;
}

.footer__input:hover,
.footer__textarea:hover {
    background: #3e4658;
}

.footer__textarea {
    resize: none;
}

.footer__textarea::-webkit-resizer {
    display: none;
}

.footer__form-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.footer__form-aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
}

.footer__form-button {
    max-width: 150px;
    padding: 15px 0;
    border-radius: 25px;
    background: #323b4c;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #f5f5f5;
    cursor: pointer;
}

.footer__form-button:hover {
    background: #3e4658;
}

.footer__form-disclaimer {
    font-weight: 400;
    font-size: 8px;
    line-height: 140%;
    color: #fff;
}

.footer__bottom-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 19rem 15px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border-bottom: 1px solid #6290e4;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.footer__logo-text {
    font-size: 8px;
    line-height: 140%;
    color: #f5f5f5;
    text-align: center;
}

.footer__nav {
    display: flex;
    gap: 25px;
    align-items: center;
}

.footer__nav-link,
.footer__phone {
    text-decoration: none;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #f5f5f5;
}

.footer__nav-link:hover,
.footer__phone:hover {
    text-decoration: underline;
}

.footer__watermark {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #fff;
    text-align: center;
}

@media (max-width: 1366px) {
    .footer__top-container {
        flex-direction: column;
        padding: 3rem 8rem;
    }

    .footer__text-wrapper,
    .footer__form {
        margin: 0 auto;
    }

    .footer__arrow {
        bottom: 30px;
    }

    .footer__bottom-container {
        padding: 20px 20px 15px;
    }

    .footer__info {
        gap: 25px;
    }

    .footer__nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px 25px;
    }
}

@media (max-width: 900px) {
    .footer__top-container {
        padding: 3rem 10px;
        gap: 50px;
    }

    .footer__title {
        font-size: 36px;   
    }

    .footer__arrow {
        display: none;
    }

    .footer__form-group {
        display: flex;
        flex-direction: column;
    }

    .footer__form-content {
        display: flex;
        flex-direction: column;
    }

    .footer__form-aside {
        align-items: center;
    }

    .footer__form-button {
        max-width: none;
        width: 100%;
    }

    .footer__form-disclaimer {
        text-align: center;
    }

    .footer__bottom-container {
        gap: 25px;
    }

    .footer__info {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        border: none;
    }

    .footer__logo {
        margin: 0;
    }

    .footer__nav {
        flex-direction: column;
    }

    .footer__nav-link,
    .footer__phone {
        font-size: 12px;
    }
}