.how-it-work__container {
    margin-left: 10rem;
    margin-right: 10rem;
}

.how-it-work__title {
    color: #F5F5F5;
    font-size: 48px;
    margin-bottom: 20px;
}

.how-it-work__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.how-it-work__list-item {
    display: flex;
    align-items: center;
    gap: 25px;
    border-radius: 25px;
    background: #323B4C;
    padding: 25px 36px;
    margin-bottom: 30px;
    text-wrap: nowrap;
}

.how-it-work__list-text {
    color: #F5F5F5;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
}

.how-it-work__image-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 900px) {
    .how-it-work__container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .how-it-work__title {
        font-size: 24px;
        text-wrap: nowrap;
        text-align: center;
        margin-bottom: 20px;
    }

    .how-it-work__content {
        flex-direction: column;
        gap: 0;
    }

    .how-it-work__list-text {
        font-size: 14px;
    }

    .how-it-work__image-item {
        display: none;
    }
}